{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="product-catalog-view product-catalog-dashlet">
    <div class="product-catalog-search">
        <input type="text" name="product-catalog-search-term" class="product-catalog-search-term hidden"
            placeholder="{{searchText}}"/>
    </div>
    <div class="product-catalog-no-results hidden">
        {{str 'LBL_NO_PRODUCT_CATALOG_RESULTS' 'Quotes'}}
    </div>
    <div class="product-catalog-container">
        <div id="product-catalog-canvas"></div>
    </div>
</div>
