html {
  direction: ltr;
}

html.rtl {
  direction: rtl;
  @import "./reset.less";
  @import "./activity.less";
  @import "./navbar.less";
  @import "./headerpane.less";
  @import "./record.less";
  @import "./datatables.less";
  @import "./dashboard.less";
  @import "./globalsearch.less";
  @import "./sweetspot.less";
  @import "./search-filter.less";
  @import "./forms.less";
  @import "./button-groups.less";
  @import "./forecast.less";
  @import "./login.less";
  @import "./charts.less";
  @import "./select2.less";
  @import "./side.less";
  @import "./merge-interface.less";
  @import "./alerts.less";
  @import "./dropdowns.less";
  @import "./emails.less";
  @import "./image.less";
  @import "./preview.less";
  @import "./misc.less";
  @import "./responsive.less";
  @import "./quotes.less";
}
