.email-recipients.fieldset {
  .fieldset-field:not(.detail):first-child {
    padding-right: 0;
    padding-left: 72px;
  }

  .fieldset-field.detail {
    padding-right: 20px;
    padding-left: 12px;
  }

  .compose-recipient-options {
    right: auto;
    left: 12px;
  }

  .fieldset-field {
    padding-right: 0;
    padding-left: 12px;
  }

  .fieldset-label {
    padding-right: 20px;
    padding-left: 6px;
  }
}
.email-compose .record div[data-type="name"] input[type="text"] {
  padding-right: 20px;
  padding-left: 12px;
}
