{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="dashboard quotes-create">
    <div class="cols row-fluid">
        <ul class="dashlets row-fluid">
            <li class="span-12">
                <ul class="dashlet-row">
                    <li class="row-fluid">
                        <div class="rows well well-invisible">
                            <ul class="dashlet-cell rows row-fluid">
                                <li class="dashlet-container span12">
                                    <div class="thumbnail dashlet" data-type="dashlet">
                                        <div data-dashlet="toolbar">
                                            <div class="dashlet-header">
                                                <div class="btn-toolbar pull-right">
                                                    <div class="loading-icon">
                                                        <i data-action="loading" class="fa fa-refresh fa-spin"></i>
                                                    </div>
                                                </div>
                                                <h4 data-toggle="dashlet" class="dashlet-title">
                                                    {{str 'LBL_PRODUCT_CATALOG_NAME' }}
                                                </h4>
                                            </div>
                                        </div>
                                        <div data-dashlet="dashlet" class="dashlet-content">
                                            <div class="product-catalog-view">
                                                <div class="product-catalog-search">
                                                    <input type="text" name="product-catalog-search-term"
                                                           class="product-catalog-search-term hidden"
                                                           placeholder="{{searchText}}"/>
                                                </div>
                                                <div class="product-catalog-no-results hidden">
                                                    {{str 'LBL_NO_PRODUCT_CATALOG_RESULTS' 'Quotes'}}
                                                </div>
                                                <div class="product-catalog-container">
                                                    <div id="product-catalog-canvas"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
